<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<!-- 단순 vue 출력 -->
	<div id="app">
		{{message}}
	</div>
	
	<!-- html 속성에 vue 데이터 출력 -->
	<div id="app-2">
		<span v-bind:title="message">
			내 위에 마우스를 올리면 동적 거시기된 title
		</span>
	</div>
	
	<!-- 조건에 따라 html 출력 -->
	<div id="app-3">
		<span v-if="seen">나를 볼수가 있는가?</span>
	</div>
	
	<!-- vue 반복문 출력 -->
	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>
	
	<!-- vue 클릭 이벤트 출력 -->
	<div id="app-5">	
		<p>{{message}}</p>
		<button v-on:click="reverseMessage">메시지 뒤집기</button>
	</div>
	
	<!-- vue는 양방향 바인딩 가능하다. p함수와 input함수를 서로 바인딩 -->
	<div id="app-6">	
		<p>{{message}}</p>
		<input v-model="message">
	</div>
	
	<!-- vue 컴포넌트 사용 groceryList를 가지고 todo-item컴포넌트로 활용 -->
	<div id="app-7">
		<ol>
			<!--
		      이제 각 todo-item 에 todo 객체를 제공합니다.
		      화면에 나오므로, 각 항목의 컨텐츠는 동적으로 바뀔 수 있습니다.
		      또한 각 구성 요소에 "키"를 제공해야합니다 (나중에 설명 됨).
		     -->
		     <todo-item
		     	v-for="item in groceryList"
		     	v-bind:todo="item"
		     	v-bind:key="item.id"
		     >
		     </todo-item>
		</ol>
	</div>
	
	
	<!-- 양방향 데이터지만 해당 데이터 변경 안되게 처리 object freeze -->
	<div id="app-8">
		<p>{{foo}}</p>
		<p v-once>변경 안되!!! : {{foo}}</p>
		<!-- obj.foo는 더이상 변하지 않습니다! -->
		<button v-on:click="foo='boooooooooooooooooooooooooooooooooom'">change it</button>
	</div>
	
	<!-- vue 객체에서 computed 혹은 function으로 객체 사용 . 그리고 그 둘의 차이점 인지 -->
	<div id="app-9">
		<p>원본 메시지 : "{{ message }}"</p>
		<!-- computed를 통해 사용할경우 최초 캐싱되어 이후 업데이트 되지않음 -->
		<!-- function을 통해 실행될경우만 캐싱사용되지 않고 업데이트 됨 -->
		<!-- now , now()를 통해 확인가능 -->
		<p>역순으로 표시한 메시지 : "{{ reversedMessage }}"</p>
		<p>역순으로 표시한 메시지 (펑션버전) : "{{ reversedMessage2() }}"</p>
		<p>날자확인 : "{{ now }}"</p>
	</div>
	
	<!-- 명령형 프로그래밍 선언형 프로그래밍 차이 구현 x -->
	<div id="app-10">
		{{ fullName }}
	</div>
	
	
	<!-- watch속성 활용 watch : 바인드된 객체가 변경될때 실행되는 펑션 -->
	<div id="app-11">
		<p>
			yes/no 질문을 물어보세요.
			<input v-model="question">
		</p>
		<p>{{ answer }}</p>
	</div>
	
	
	<!-- Vue에서의 css 처리 (data를 통한 css) -->
	<div id="app-12">
		<div class="static" v-bind:class="classObject">냥냔냐냐냥펀치</div>
	</div>
	
	<!-- Vue에서의 css 처리 (computed를 통한 함수 결과를 통한 css) -->
	<div id="app-13">
		<div class="static" v-bind:class="classObject">냥냔냐냐냥펀치다나나나나나</div>
	</div>
	
	<!-- Vue에서의 css 처리 (배열로도 입력 가능) -->
	<div id="app-14">
		<div class="static" v-bind:class="[activeClass, errorClass]">와다다다다닷</div>
	</div>
	
	<!-- Vue에서의 css 처리 (배열의 삼항식을 통해서도 입력 가능) -->
	<div id="app-15">
		<div class="static" v-bind:class="[isActive ? activeClass : '', errorClass]">와다다다다닷</div>
	</div>
	
	<!-- Vue에서 Style적용, 배열로도 입력가능 -->
	<div id="app-16">
		<div class="static" v-bind:style="[styleObject, styleObject2]">스타일이닷!!!!!</div>
	</div>
	
	<!-- Vue에서 조건문 사용 if elseif else 전부 가능 -->
	<div id="app-17">
		<template v-if="aweso == 'A'">
			<p>A래요 A래요</p>
			<p>A랄A랄A랄</p>
		</template>
		<template v-else-if="aweso == 'B'">
			<p>B래요 B래요</p>
			<p>B랄B랄B랄</p>
		</template>
		<template v-else>
			<p>다니래요 다니래요</p>
			<p>다라다랄랄</p>
		</template>
	</div>
	
	
	<!-- Vue에서 같은 속성의 위치면 기존의 값을 다시 렌더링 하지않고 남아있다 -->
	<!-- key를 별도로 해주면 그런현상 없어짐 -->
	<!-- v-show 경우 display만 가려주기 때문에 dom에 나오지만 가려질뿐이다 -->
	<div id="app-18">
		<template v-if="loginType === 'username'">
			<labe>사용자 이름</labe>
			<input placeholder="사용자 입력 입려쿠" key="username-input">
		</template>
		<template v-else>
			<labe>이메일</labe>
			<input placeholder="이메이루 입력 입려쿠" key="email-input">
		</template>
		<button v-on:click="chgLoginTypeClick">변경 버튼이다냥</button>
		<h1 v-show="ok">무서운 애기~~ 무서운 애기 할까 무서운 애기 해줄까</h1>
	</div>
	
	<!-- Vue에서 for문 활용 -->
	<!-- 배열변경방법 -->
	<!-- app19.$set(app19.items, 0, {message:"뤠드", id:"7"}) -->
	<div id="app-19">
		<li v-for="item in items" v-bind:key="item.id">
			{{item.message}}
		</li>
	</div>
	<br>
	<!-- Vue에서 for문 활용했을때 다른 객체와 함께 혹은 index와 함께사용 -->
	<div id="app-20">
		<li v-for="(item, index) of items">
			{{parentMessage}} - {{index}} - {{item.message}}
		</li>
	</div>
	<!-- Vue에서 객체에 대한 반복을 사용 -->
	<!-- (객체반복에 대해서는 내부적인 key를 통해 결정되는데 javascript 엔진 간에 일관적이지 않다고함) -->
	<!-- 객체 변경에 대해서 reactive되지 않음. reactive하려면 Vue에서 지원하는 set활용해야됨 -->
	<!-- app21.$set(app21.objobj, "필살기 ", "낭낭펀치") -->
	<!-- 반응형 속성 추가 다른 방법 -->
	<!-- app21.userProfile = Object.assign({}, vm.userProfile, {
	  age: 27,
	  favoriteColor: 'Vue Green'
	}) -->
	<div id="app-21">
		<ul class="demo">
			<li v-for="(value, name, index) in objobj" >
				{{name}}: {{value}} ::: {{index}}
			</li>
		</ul>
	</div>
	
	
	<!-- 조건에 따른 리스트 출력이 필요하면 computed를 사용한다 -->
	<!-- computed를 사용 할 수 없는 상황이면 펑션으로 감싸주어서 사용한다 -->
	<!-- 숫자를 명시하여서 객체 없이 사용 가능 -->
	<div id="app-22">
		<ul class="demo">
			<li v-for="n in evenNumbers" >
				{{n}}
			</li>
		</ul>
		<ul class="demo">
			<li v-for="n in even(numbers)" >
				{{n}}
			</li>
		</ul>
		<div>
			<span v-for="n in 10">
				{{n}} : 낄낄
				<br v-if="n % 2 == 0">
			</span>
		</div>
	</div>
	
	<br>
	
	
	<!-- 컴포넌트에서 반복문을 사용하여 구현가능하다 -->
	<div id="app-23">
		<form v-on:submit.prevent="addNewTodo">
			<label for="new-todo">Add a Todo</label>
			<input 
				v-model="newTodoText"
				id="new-todo"
				placeholder="E.g. fedd the cat"
			>
			<button>Add</button>
		</form>	
		
		<ul>
			<li 
				is="todo-item-for"
				v-for="(todo, index) in todos"
				v-bind:key="todo.id"
				v-bind:title="todo.title"
				v-on:remove="todos.splice(index, 1)"
			>
			</li>
		</ul>
	</div>
	
	<!-- Vue 기본 click이벤트 동작 -->
	<div id="app-24">
		<button v-on:click="counter += 1">Add 1</button>
		<p>위 버튼을 클릭한 횟수는 {{counter}} 번 입니다.</p>
	</div>
	
	<!-- Vue 클릭이벤트 펑션 연결 -->
	<div id="app-25">
		<button v-on:click="greet">Greeet11	dfszfwaefg</button>	
	</div>
	
	<br>
	
	<!-- Vue 이벤트시 직접 파라미터를 전달 가능하다 -->
	<div id="app-26">
		<button v-on:click="say('hi', $event)">Say hi</button>
		<button v-on:click="say('what the', $event)">Say what</button>
	</div>
	
	<!-- 클릭 이벤트 전파가 중단됩니다 -->
	<!-- <a v-on:click.stop="doThis"></a> -->
	
	<!-- 제출 이벤트가 페이지를 다시 로드 하지 않습니다 -->
	<!-- <form v-on:submit.prevent="onSubmit"></form> -->
	
	<!-- 수식어는 체이닝 가능합니다 -->
	<!-- <a v-on:click.stop.prevent="doThat"></a> -->
	
	<!-- 단순히 수식어만 사용할 수 있습니다 -->
	<!-- <form v-on:submit.prevent></form> -->
	
	<!-- 이벤트 리스너를 추가할 때 캡처모드를 사용합니다 -->
	<!-- 즉, 내부 엘리먼트를 대상으로 하는 이벤트가 해당 엘리먼트에서 처리되기 전에 여기서 처리합니다. -->
	<!-- <div v-on:click.capture="doThis">...</div> -->
	
	
	<!-- event.target이 엘리먼트 자체인 경우에만 트리거를 처리합니다 -->
	<!-- 자식 엘리먼트에서는 안됩니다 -->
	<!-- <div v-on:click.self="doThat">...</div> -->
	
	<!-- 클릭 이벤트는 최대 한번만 트리거 됩니다. -->
	<!-- <a v-on:click.once="doThis"></a> -->
	
	<!-- 키보드 키에 대한 이벤트도 걸수있다. -->
	<!-- <input v-on:keyup.enter="submit"> -->
	
	<!-- 키코드에 대한 이벤트도 걸 수 있다 -->
	<!-- <input v-on:keyup.13="submit"> -->
	
	<!-- 전여 설정을 통해 사용자 지정 키코드를 사용 할수도 있다 -->
	<!-- `v-on:keyup.f1`을 사용할 수 있습니다. -->
	<!-- Vue.config.keyCodes.f1 = 112 -->
	
	<!-- 수식어 키가 눌러진 경우에도 이벤트 리스너를 트리거 할 수 있다. -->
	<!-- 수식어 키 트리거는 수식어를 누른 상태에서 동작이 일어나야 트리거된다 -->
	<!-- Alt + C -->
	<!-- <input @keyup.alt.67="clear"> -->
	
	<!-- Ctrl + Click -->
	<!-- <div @click.ctrl="doSomething">Do something</div> -->
	
	
	<!-- 바인딩 방법 --> 
	<!-- <textarea> {{message}}</textarea> 방법은 동작하지 않는다 -->
	<div id="app-27">
		<span>여러줄 메시지 : </span>
		<p style="white-space: pre-line">{{message}}</p>
		<br>
		<textarea v-model="message" placeholder="여러줄 입력"></textarea>
	</div>
	
	<br>
	
	
	<!-- Vue에서 체크박스 구현예제 여러개의 checkbox일경우 배열 단수일경우 true, flase로 관리 -->
	<div id="app-28">
		<input type="checkbox" id="jack" value="jack" v-model="checkedNames">
		<label for="jack">jack</label>
		<input type="checkbox" id="john" value="john" v-model="checkedNames">
		<label for="john">jack</label>
		<input type="checkbox" id="mike" value="mike" v-model="checkedNames">
		<label for="mike">mike</label>
		<br>
		<span>체크한 이름: {{checkedNames}}</span>
		<br><br>
		<input type="checkbox" id="mike" value="mike" v-model="soloChecked">
		<label for="soloChecked">soloChecked</label>
		<br>
		<span>하나체크결과 : {{soloChecked}}</span>
	</div>
	
	<br>
	
	<!-- Vue에서 radio 구현 -->
	<div id="app-29">
		<input type="radio" id="one" value="one" v-model="radio">
		<label for="one">one</label>
		<br>
		<input type="radio" id="two" value="two" v-model="radio">
		<label for="one">two</label>
		<br>
		<span>선택: {{radio}}</span>
	</div>
	
	<br>
	<!-- Vue에서 콤보박스 구현 -->
	<div id="app-30">
		<select v-model="option">
			<option disabled value="">please select one</option>
			<option>A</option>
			<option>B</option>
			<option>C</option>
		</select>
		<br>
		<span>선택함: {{option}}</span>
		<br><br>
		
		<select v-model="option2">
			<option v-for="option in options" v-bind:value="option.value">	
				{{option.text}}
			</option>
		</select>
		<br>
		<span>Selected: {{option2}}</span>
		<br>
		<input v-model.number="age" type="number">
	</div>
	
	
	<!-- 사용자 입력이 자동으로 숫자 변환이 된다고 하는데... 안됨... -->
	<!-- 숫자 올릴수있는것만 생김 -->
	<!-- <input v-model.number="age" type="number"> -->
	
	<!-- "input" 대신 "change" 이후에 동기화 됩니다. -->
	<!-- <input v-model.laze="meg"> -->
	
	<!-- v-model이 관리하는 input이 자동으로 trim처리 된다 -->
	<!-- <input v-model.trim="msg"> -->
	
	<br>	
	
	
	<!-- Vue의 기본 컴포넍트 사용 -->
	<!-- 전역적으로 사용하여 모든곳에서 사용될수도 있으며, -->
	<!-- 해당 Vue내에서 사용될 경우 이 안에서만 존재한다 -->
	
	<!-- ********************************** -->
	<!-- ***************중요**************** -->
	<!-- ********************************** -->
	<!-- 컴포넌트는 vue html내부에서만 실행되며 -->
	<!-- vue생성 이후에 정의되면 해당 vue내부에서 못불러온다 -->
	<!-- ********************************** -->
	
	 
	
	<div id="app-31">
		<my-component></my-component>
		<br>
		<inner-component></inner-component>
	</div>
	
	<!-- 컴포넌트 이용시에 table 안에, tr, td나 select 안에 option같은 경우
	이 html태그안에서만 동작하는 html 일경우 그리는데 에러가 발생한다
	이럴때는 is 속성을 사용하여 정의한다 -->
	<!-- ex) 잘못된예 -->
	<!-- <table>
		<my-row></my-row>
	</table> -->
	<!-- ex) 올바른예 -->
	<!-- <table>
		<tr is="my-row"></tr>
	</table> -->
	
	
	
	<!-- 컴포넌트에에서 사용되는 data항목은 function return값으로 정의되야한다. -->
	<!-- data를 내부에서 정의하면 컴포넌트 호출마다 컴포넌트 만큼의 사용 객체가 만들어져 사용된다. -->
	
	<!-- 컴포넌트는 컴포넌트가 정의된 부모와 자식관계로 이루어지고 
	부모는 자식에게 props 값을 넘겨주고
	자식은 부모에게 event를 통해 메시지를 보낸다 -->
	
	<!-- component 네임이나 내부로 전달되는 prop값의 네임은
	정의가 camel로 되있다면 케밥케이스(하이픈으로 문자열 묶음)로 호출해야한다. -->  
	<!-- 깔끔하게 그냥 케밥으로 통일하면 좋을것 같다 케밥이 맛있기도하고... -->
	
	<div id="app-32">
		<simple-counter-component></simple-counter-component>
		<simple-counter-component></simple-counter-component>
		<simple-counter-component></simple-counter-component>
		<simple-counter-component></simple-counter-component>
		<simple-counter-component></simple-counter-component>
		<br><br>
		<prop-test my-message="안뇽하세용 낄낄. 저아시죵"></prop-test>
		<br><br>
		<input v-model="parentMsg">
		<br>
		
		<!-- bind를 통해 부모의 데이터를 propsㄹ를 동적으로 바인딩 가능 --> 
		
		<nakonako v-bind:my-message="parentMsg"></nakonako>
		
		<!-- object형식으로 bind 할경우 objectd의 객체들 모두 하위 컴포넌트로 전부 전달이 된다 -->
		
		<br>
		<span>{{todo}}</span>
		<br>
		<todo-item-test v-bind="todo"></todo-item-test>
		
		<br>
		<br>
		
		<!-- Vue prop validation 같은경우 Vue 실행환경에서만 console 경고가 나타난다 -->
		
		<input 
			v-model="prop11"
			placeholder="prop 11111"
		>
		<propcheck v-bind:propb="prop11"></propcheck>
		
		<br><br>
		
		<input 
			v-model="prop22"
			placeholder="prop 2222"
		>
		
		<propcheck v-bind:propf="prop22"></propcheck>
		
	</div>
	
	<!-- component로 전달된 객체와 컴포넌트 안에서 실행되는 함수와 개별적으로 움직인다. -->
	
	<div id="app-33">
		<p>{{total}}</p>
		<button-counter33 v-on:increment="incrementTotal"></button-counter33>
		<button-counter33 v-on:increment="incrementTotal"></button-counter33>
		<br><br>
		
		<!-- this.$emit("increment")로 하면 변경 되었을 때 상위 프로퍼티가 변경되는 이벤트가 발생하지만 -->
		<!-- v-on:click.native 식으로 상위 프로퍼티를 바로 실행도 가능하다 -->  
		
		<comp-dothething v-on:click.native="doTheThing"></comp-dothething>
		<comp-dothething v-on:increment="doTheThing"></comp-dothething>
		
		
		<!-- 양방향 바인드일경우 foo.sync를 통해 양방향 바인딩 가능 -->
		<!-- this.$emit('update:foo', newValye) 형태로 앙방향 바인딩 가능 -->
		<br><br>
		<p>{{totalbind}}</p>
		<comp-dothething :foo.sync="totalbind"></comp-dothething>
		
	</div>
	
	
	<!-- 사용자 정의 이벤트를 통해 사용자 정의 입력을 만드는데에 사용 가능 -->
	<div id="app-34">
		<currency-input v-model="price"></currency-input>	
	</div>
	
	
	<!-- 하위 컴포넌트의 slot이 있을경우 값이 없을 경우에 slot의 값이 실행됨 --> 
	<div id="app-35">
		<h1>나는 부모 컴포넌트의 제목입니다.</h1>
		<child-slot-test>
			<!-- <p>이것은 원본 컨텐츠 11</p>
			<p>이것은 원본 추가 컨텐츠 22</p> -->
		</child-slot-test>
	</div>
	
	<br>
	<br>
	
	<!-- 컴포넌트의 v model을 사용할경우 change이벤트에 맞춰서 prop 값 변경 -->
	<div id="app-36">	
		<p>{{lovingVue}}</p>
		<base-checkbox v-model="lovingVue"></base-checkbox>
	</div>
	
	<!-- 부모 이벤트에서 발생한 이벤트 리스너를 자식 컴포넌트에서 전달받고 재정의해서 사용 가능 --> 
	<!-- 그를위한 이벤트 속성 오브젝트 지원 -->
	<div id="app-37">
		테테 : <input type="text">
		<br><br>
		<event-listener-input></event-listener-input>
	</div>
	
	
	<!-- 리터럴 구문을 사용하여 숫자를 전달하면 해당값은 문자열로 전달된다 --> 
	<!-- 바인드를 통해 숫자로 전달가능하다 -->
	
	<!-- 틀린 예 ex) -->
	<!-- <comp some-prop="1"></comp> -->
	
	<!-- 옳은 예 ex) -->
	<!-- <comp v-bind:some-prop="1"> -->
	
	<!-- vue는 본래 컴파일 되는 바운더리의 값만 사용 가능하다
	하지만 slot을 통해 부모 컴포넌트의 값을 그대로 사용 가능하다 -->
	
	<!-- <current-user>
	  <template v-slot:default="slotProps">
	    {{ slotProps.user.firstName }}
	  </template>
	</current-user> -->
	
	
	<div id="app-39">
		<button
			v-for="tab in tabs"
			v-bind:key="tab"
			v-bind:class="['tab-button', {artive: currentTab===tab}]"
			v-on:click="currentTab = tab"
		>
		{{tab}}
		</button>
		
		<keep-alive>
			<component
				v-bind:is="currentTabComponent"
				class="tab"
			>
			</component>
		</keep-alive>
		
	</div>
	
	
		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	
	<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/index2.js"></script>
</body>
</html>